<?xml version="1.0" encoding="utf-8" ?>


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogFile="log\nlog-internal.log"
      internalLogLevel="Off" >

	<targets>
		<target xsi:type="File"
		        name="file"
		        fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message}"
		        autoFlush="true"
				maxArchiveFiles="10"
            />
			
		
		<target xsi:type="File"
				name="archiveEachDay"
				fileName="${basedir}/logs/today.log"
				layout="${longdate} ${level:uppercase=true} ${logger} ${message}"
				archiveFileName="${basedir}/logs/arch/${shortdate}.zip"
				maxArchiveFiles = "30"
				archiveEvery="Day"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="10000000"
				enableArchiveFileCompression="true"
		/>


		<target xsi:type="File"
		        name="fileError"
		        fileName="${basedir}/logs/err/${shortdate}.log"
		        layout="${longdate} ${uppercase:${level}} ${message}"
		        autoFlush="true"
		/>

		<target xsi:type="File"
		        name="fileInfo"
		        fileName="${basedir}/logs/info/${shortdate}.log"
		        layout="${longdate} ${uppercase:${level}} ${message}"
		        autoFlush="true"
				maxArchiveFiles="10"
		/>
		<target xsi:type="Console" name="logconsole"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />

		<target name="dbFull"
			xsi:type="Database"
			connectionString="server=Logs;Database=Infrastructure;user id=logUser;password=TopSecret"
			commandType="StoredProcedure"
			commandText="[Log].[NLog_AddEntry_p]"
			>
		  <parameter name="@machineName"    layout="${machinename}" />
		  <parameter name="@logged"         layout="${date}" />
		  <parameter name="@level"          layout="${level}" />
		  <parameter name="@message"        layout="${message}" />
		  <parameter name="@logger"         layout="${logger}" />
		  <parameter name="@properties"     layout="${all-event-properties:separator=|}" />
		  <parameter name="@callsite"       layout="${callsite}" />
		  <parameter name="@exception"      layout="${exception:tostring}" />
		  <parameter name="@systemName"     layout="DigestPublish" />
		  <parameter name="@systemModule"   layout="DigestPublish" />	  
		</target>

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="archiveEachDay" />
		<!--<logger name="*" minlevel="Trace" writeTo="file" />-->
		<logger name="*" level="Error" writeTo="fileError" />
		<logger name="*" level="Info" writeTo="fileInfo" />
	</rules>
</nlog>